body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "YekanBakhFaNum";
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000092;
    z-index: 1;
    display: none;
  }
  @font-face {
    font-family: "YekanBakhFaNum";
    src: url("/public/font/YekanBakhFaNum/OTF/YekanBakhFaNum-SemiBold.otf");
  }
  p {
    padding: 0;
    margin: 0;
  }

  .topMenu {
    width: 95%;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2em;
    margin: 2em auto;
    grid-template-columns: 1fr 1fr;

    


    @media (max-width: 1150px) {
      grid-template-columns: 1fr;
       width: 75%;
    }

    @media (max-width: 600px) {
      width: unset;
      padding-inline: 0;
    }
    .rightSide {
      width: 100%;
      > p:first-child {
        color: #2086c8;
        margin-top: 0.7em;
        @media (max-width: 1090px) {
          margin-right: 3em;
        }
        @media (max-width: 980px) {
          font-size: 1em;
          margin-right: 1.7em;
        }
      }

      > p:nth-child(2) {
        color: #363636;
        font-size: 2.4em;
        font-weight: 700;
        margin-bottom: 1em;
        @media (max-width: 1090px) {
          margin-right: 1em;
        }
        @media (max-width: 980px) {
          font-size: 1.5em;
        }
      }

      .messageContainer {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 1.5em;
        margin-bottom: 1em;
        .itemContainer {
          display: flex;
          align-items: center;
          width: 100%;

          @media (max-width: 1090px) {
            width: 75%;
            margin: auto;
          }
          &.ltr {
            justify-content: end;
          }
          .item {
            width: fit-content;
            line-height: 1.7;
            background-color: #2086c8;
            color: #fff;
            padding: 0.8em 0.5em;
            border-radius: 10px;
            position: relative;

            &.introP::before {
              content: "";
              background-image: url(/public/icons/radius.png?t=1759073975447);
              width: 2em;
              height: 2em;
              background-size: contain;
              background-repeat: no-repeat;
              display: block;
              position: absolute;
              left: -0.7em;
              bottom: 0;
            }
            &.left::before {
              content: "";
              background-image: url(/public/icons/radius.png?t=1759073975447);
              width: 2em;
              height: 2em;
              background-size: contain;
              background-repeat: no-repeat;
              display: block;
              position: absolute;
              left: -0.7em;
              bottom: 0;
            }

            &.rightItemP::after {
              content: "";
              background-image: url(/public/icons/leftRadius.png);
              width: 2em;
              height: 2em;
              background-size: contain;
              background-repeat: no-repeat;
              display: block;
              position: absolute;
              bottom: 0;
              right: -1.5em;
            }

            > p {
            }
          }
        }
      }

      .inputContainer {
        background-color: #2086c8;
        width: 100%;
        display: flex;
        height: 3em;
        border-radius: 0.5em;
        justify-content: space-between;
        padding: 0.3em;
        align-items: center;
        @media (max-width: 1090px) {
          width: 75%;
          margin: auto;
        }
        @media (max-width: 980px) {
          width: 90%;
          margin: auto;
        }
        > input {
          width: 85%;
          height: 2.5em;
          font-family: "YekanBakhFaNum";
          /* margin: auto; */
          margin-inline: 0.8em;
          border-radius: 0.5em;
          font-size: 1em;
          padding-inline: 1em;
          border: none;
          outline: none;
        }
        > img {
          margin: auto;
        }
      }

      .filterAndSearchBarInMobile {
        display: none;
        @media (max-width: 980px) {
          width: 90%;
          display: flex;
          background-color: #aae0f8;
          margin: auto;
          padding: 0.3em;
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-top: 2em;
          border-radius: 0.5em;
        }
        > input {
          width: 50%;
          border-radius: 0.5em;
          border: none;
          padding-block: 0.6em;
          padding-inline: 1em;
          font-family: "YekanBakhFaNum";
          font-size: 1em;
        }
        .filterLeft {
          display: flex;
          align-items: center;
          justify-content: space-between;
          > img {
          }
          > p {
          }
        }
      }
    }

    .imgContainer {
      position: relative;
      height: 300px;
      margin-top: 10em;

      @media (max-width: 1150px) {
        display: none;
      }

      > img {
        position: absolute;
        width: 180px;
        border-radius: 10px;
      }
      > img:nth-child(1) {
        left: 0;
        top: -2em;
      }
      > img:nth-child(2) {
        left: 6em;
        bottom: 3em;
      }

      > img:nth-child(3) {
        left: 13.5em;
        top: -3em;
      }

      > img:nth-child(4) {
        left: 22em;
        top: 0.5em;
      }
    }
  }

  .courseDetailsContainer {
    margin: auto;
    font-size: 16px;
    line-height: 1.5em;
    color: var(--textColorStrong);
    padding-bottom: 10em;

    .courseDetailsMainContext {
      display: grid;
      grid-template-columns: 300px 1fr;
      gap: 1em;
      margin-top: 6em;
      margin-inline: 3em;

      @media (max-width: 980px) {
        grid-template-columns: 1fr;
        margin-inline: 1em;
      }
      aside {
        @media (max-width: 980px) {
          display: none !important;
        }
        // کلاس‌ها
        &.slideUp {
          animation: slideUp 0.5s forwards;
        }

        &.slideDown {
          animation: slideDown 0.5s forwards;
        }

        &.mobileActive {
          display: grid !important;
          position: fixed;
          bottom: 0;
          right: 0;
          left: 0;
          top: unset;
          z-index: 10;
          border-radius: 1em 1em 0 0;
          animation: slideUp 0.5s forwards;
        }

        // keyframes باید بیرون از کلاس‌ها باشند

        background-color: #e6f6fd;
        border-radius: 1em 1em 1em 1em;
        padding: 1em;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        gap: 1em;
        position: sticky;
        top: 0;
        height: max-content;
        transition: all 0.3s;

        .topAside {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          > div {
            display: flex;
            align-items: center;
            justify-content: center;
            > img {
            }
            > p {
            }
          }

          .delete {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5em;
            > p {
            }
            i {
              transform: rotate(45deg);
            }
          }

          @media (max-width: 980px) {
            order: -2;
          }
        }

        .searchBarContainer {
          border-radius: 0.5em;
          background-color: white;
          padding: 0.4em 0.9em;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 90%;
          @media (max-width: 980px) {
            display: none;
          }
          > input {
            padding: 0.4em 0em;
            border: none;
            outline: none;
            font-family: "YekanBakhFaNum";
          }
          > img {
          }
        }

        .BackForWite {
          width: 100%;
          background-color: #fff;
          border-radius: 0.5em;

          .inputContainerForFilter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 0.4em;
            width: 90%;
            margin-block: 1em;
            cursor: pointer;
            > p {
            }
            .fa-angle-down {
              transition: all 0.2s;
              &.active {
                transform: rotate(180deg);
              }
            }
          }

          .content {
            flex-direction: column;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: max-height 0.3s ease, opacity 0.3s ease;
            display: flex;
            &.giveContent {
              max-height: 500px; // باید بیشتر از ارتفاع واقعی باشه
              opacity: 1;
              margin: 1em;
            }

            > label {
              cursor: pointer;
              padding-block: 0.2em;
              > input {
              }
            }
            .option {
              width: fit-content;
              padding: 0.4em 0.6em;
              font-family: "YekanBakhFaNum";
            }
            &.notAcolumn {
              flex-direction: unset;
              align-items: center;
              justify-content: center;
              gap: 3%;
            }
            .option {
              border-radius: 0.5em;
              border: 2px solid #2086c8;
              cursor: pointer;
              &.active {
                background-color: #2086c8;
                color: #fff;
              }
            }
          }
        }

        .activeCourses {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #fff;
          width: 94%;
          padding: 1em 0.5em;
          border-radius: 0.5em;
          @media (max-width: 980px) {
            order: -1;
            width: 95%;
          }
          > p {
          }
          > button {
            width: 3.4em;
            height: 1.7em;
            border-radius: 20px;
            display: flex;
            align-items: center;
            padding: 4px;
            cursor: pointer;
            border: none;
            background-color: #e4e4e4;
            transition: background-color 0.3s;
            direction: ltr;
            .circle {
              width: 1.1em;
              height: 1.1em;
              border-radius: 50%;
              background-color: #2086c8;
              border: 2px solid #2086c8;
              transition: transform 0.3s;
              transform: translateX(0); // حالت اولیه
            }

            &.active {
              background-color: #e6f6fd;

              .circle {
                transform: translateX(1.4em); // به اندازه لازم سر بخوره
              }
            }
          }
        }

        @keyframes slideUp {
          0% {
            transform: translateY(100%);
            opacity: 0;
          }
          60% {
            transform: translateY(-10%);
            opacity: 1;
          }
          80% {
            transform: translateY(5%);
          }
          100% {
            transform: translateY(0);
          }
        }

        @keyframes slideDown {
          0% {
            transform: translateY(0);
            opacity: 1;
          }
          20% {
            transform: translateY(5%);
          }
          40% {
            transform: translateY(-10%);
            opacity: 1;
          }
          100% {
            transform: translateY(100%);
            opacity: 0;
          }
        }
      }

      .mainContent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2%;

        @media (max-width: 1440px) {
          grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 900px) {
          grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 650px) {
          grid-template-columns: 1fr;
        }
        .cart {
          padding: 1.2em;
          box-shadow: 0 0 11px -5px;
          display: flex;
          flex-direction: column;
          border-radius: 1.2em;
          border: 1px solid #cdcdcd;

          @media (max-width: 1440px) {
            margin: auto;
          }
          @media (max-width: 1060px) {
            height: fit-content;
            padding: 0.5em;
          }
          &:hover {
            border: 1px solid #12b76a;
            box-shadow: 0 0 11px -1px #12b76a;
            transition: all 0.2s;
          }

          .topSideInCard {
            > img {
              width: 100%;
            }
          }

          .title {
            font-weight: 700;
            font-size: 1.2em;
            color: #363636;
            line-height: 1.5;
          }

          .downSideInCart {
            display: grid;
            gap: 4%;
            margin-top: 2em;

            @media (max-width: 1060px) {
              margin: 0.7em;
            }
            .date {
              color: #363636;
              font-size: 1.2em;
              font-weight: 400;
            }

            .features {
              color: #363636;
              display: grid;
              grid-template-columns: 1fr 180px;

              > span {
                display: flex;
                align-items: center;
              }
              @media (max-width: 1060px) {
                grid-template-columns: 1fr 1fr;
              }

              .inperonOrNot {
              }

              .teacherName {
              }

              .timeForClass {
                margin-top: 0.5em;
              }
            }

            .btnAndPriceInCart {
              display: flex;
              align-items: center;
              justify-content: space-around;
              position: relative;
              height: 3.5em;
              @media (max-width: 1060px) {
                margin-bottom: 0.5em;
                height: 1.5em;
              }
              .price {
                position: absolute;
                z-index: 0;
                right: 0;
              }

              .showClassBtn {
                position: absolute;
                z-index: 1;
                width: 33.6%;
                text-align: center;
                background-color: #2086c8;
                box-shadow: 0 0 10px -1px #2086c8;
                padding: 0.5em 1em;
                color: #fff;
                text-decoration-line: none;
                font-weight: 700;
                border-radius: 0.5em;
                left: 0;
                transition: all 0.2s;

                @media (max-width: 1060px) {
                  width: 33%;
                  padding: 0.7em 0.8em;
                  font-size: 0.8em;
                }
                &:hover {
                  width: 90%;
                  box-shadow: 0 0 10px -1px #12b76a;
                  background-color: #12b76a;
                }
              }
            }
          }
        }
      }
    }
  }
}
